@import "mixins";
@import "burger";

.header {
  @include flex-sb;
  position: relative;
  width: 100%;
  min-height: 6.25rem;
  @media (max-width: 1200px) {
    min-height: 5rem;
  }
  @media (max-width: 768px) {
    min-height: 4rem;
  }
}

.header__title {
  font-size: 2rem;
  font-weight: 700;
  @media (max-width: 1200px) {
    font-size: 1.7rem;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.menu {
  @media (max-width: 769px) {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    z-index: 90;
    transition: all 0.2s ease;
  }
}

.menu-container {
  @include flex-c;

  @media (max-width: 769px) {
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    -webkit-box-shadow: -3px 0px 7px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -3px 0px 7px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -3px 0px 7px 0px rgba(34, 60, 80, 0.2);
  }
}

@media (max-width: 769px) {
  .menu-active {
    right: 0;
  }
}

.menu-item {
  color: var(--color-link);
}

.menu-item + .menu-item {
  @media (min-width: 769px) {
    margin-left: 1rem;
  }
  @media (min-width: 1201px) {
    margin-left: 2.75rem;
  }
}

.menu-button {
  display: inline-block;
  padding: 0.5em;
  background-color: #ffffff;
  z-index: 100;
  @media (min-width: 769px) {
    display: none;
  }
}
.header__dropdown {
  background-color: transparent;
  color: var(--color-primary);
}

.burger-icon {
  @include burger(25px, 3px, 5px, var(--color-primary));
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__title {
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  span {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    @media (max-width: 768px) {
      font-size: 0.6rem;
    }
  }
}

.header__img {
  width: 6rem;
  @media (max-width: 1200px) {
    width: 4rem;
  }
  @media (max-width: 768px) {
    width: 4rem;
  }
}

.header__plug {
  width: 7.8rem;
  height: 1px;
  @media (max-width: 1200px) {
    width: 6rem;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.header__order_desktop {
  width: 7.8rem;
  height: 7.8rem;
  padding-left: 1.5rem;
  background-color: var(--color-third);
  position: absolute;
  right: 6.875rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
  font-size: 0.9rem;
  z-index: 10;
  span {
    text-transform: uppercase;
  }
  @media (max-width: 1200px) {
    right: 2rem;
    width: 5rem;
    height: 5rem;
    padding-left: 0.8rem;
    font-size: 0.7rem;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.header__order_desktop span + span {
  font-weight: 300;
  font-size: 0.9em;
}

.header__order_mobile {
  background-color: var(--color-third);
  width: 100%;
  font-size: 0.75rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 769px) {
    display: none;
  }
}
.menu_dropdown {
  position: relative;
}
ul [data-header-dropdown] {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.3s ease;
  background-color: var(--color-secondary);
  border-radius: 6px;
  z-index: 11;
  li + li {
    margin-top: 1rem;
  }
  @media (max-width: 768px) {
  }
}

ul .dropdown-active {
  max-height: 300px;
  padding: 1rem;
}
